/* General styles */

html {
  scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

a {
    color: #726E8D;
    font-size: 16px;
    line-height: 22px;
    font-weight: normal;
    font-family: "Satoshi-Regular", sans-serif;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "ClashDisplay-Regular", sans-serif;
    color: var(--dark-primary);
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}

ul, ol {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    padding: 0;
}

p, span {
    font-size: 18px;
    line-height: 150%;
    font-family: "Satoshi-Regular", sans-serif;
    color: var(--white);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 60px auto
}


/* End General styles */

/* Header styles */

.header {
    margin: 30px 30px 90px;
    
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 50px;
}

.header__top::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 3%;
    width: 90%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.10);
}

.header__top__left,
.header__top__right
{
    flex: 0 0 auto;
}

.header__top__left img:hover {
    cursor: pointer;
}

.header__top__center {
    flex: 1;
    text-align: center;
}

.header__logo {
    color: #22202E;
    font-family: "ClashDisplay-Regular", sans-serif;
    font-size: 24px;
    line-height: 30px;
}

.header__top__right {
    display: flex;
    align-items: center;
    gap: 15px;
}


.header__main {
    margin-bottom: 30px;
}

.header__navigation__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 45px;
}

.header__navigation__list__item__link {
    position: relative;
}

.header__navigation__list__item__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: #726E8D;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform .3s ease;
}

.header__navigation__list__item:hover .header__navigation__list__item__link::after {
    transform: scaleX(1);
}

/* End Header styles */

/* Hero styles */

.hero .container {
    display: flex;
    width: 100%;
}

.hero__content {
    background-color: var(--dark-primary);
    display: flex;
    flex-direction: column;
    min-width: 60%;
}

.hero__content__top {
    margin-top: 60px;
    margin-left: 60px;
    max-width: 515px;
    flex: 1;
}

.hero__content__top__title {
    color: var(--white);
    font-size: 32px;
    line-height: 140%;
    margin-bottom: 40px;
}

.hero__content__top__button {
    padding: 16px 32px;
    background: rgba(249, 249, 249, 0.15);
    line-height: 150%;
    transition: all .3s linear;
}

.hero__content__top__button:hover {
    color: var(--white);
}

.hero__content__bottom {
    flex: 0 0 auto;
    max-width: 600px;
    margin-left: 60px;
    margin-bottom: 60px;
}

.hero__image__container img {
    width: 100%;
    height: 100%;
}

/* End Hero styles */

/* Features styles */

.features {
    padding-top: 20px;
}

.features .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.features__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
    font-style: normal;
    text-align: center;
}

.features__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features__content__item {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.features__content__item img {
    width: 24px;
    height: 24px;
}

.features__content__item__title {
    font-size: 20px;
    line-height: 140%;
    font-weight: 400;
    font-style: normal;
}

.features__content__item__text {
    font-size: 16px;
    line-height: 150%;
    color: var(--dark-primary);
    max-width: 270px;
}

/* End Features styles */

/* Listings styles */

.listings {
    padding:  20px 0;
}

.listings .container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.listings__title {
    font-size: 32px;
}

.listings__products {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listings__products__card {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.listings__products__card img {
    width: 305px;
    height: 375px;
    flex-shrink: 0;
}

.listings__products__card__text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.listings__products__card__title {
    font-size: 20px;
    line-height: 140%;
}

.listings__products__card__price {
    color: var(--dark-primary);
}

.listings__button {
    padding: 16px 32px;
    background: var(--light-grey);
    color: var(--dark-primary);
    text-align: center;
    margin: 0 auto;
    transition: all .3s linear;
}

.listings__button:hover {
    background: var(--dark-primary);
    color: var(--light-grey);
}


/* End Listings styles */



/* popularListings styles */
/* Most of the styles for this section are described above (class LISTING) */

.popularListings__products__card img.wide {
    width: 630px;
    height: 375px;
}

/* End popularListings styles */

/* emailSignUp styles */

.emailSignUp {
    background-color: var(--light-grey);
}

.emailSignUp .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
    background-color: var(--white);
}

.emailSignUp__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.emailSignUp__text__title {
    font-size: 36px;
    line-height: 140%;
    text-align: center;
}

.emailSignUp__text__subtitle {
   font-size: 16px;
   text-align: center;
   color: var(--dark-primary);
   max-width: 470px;
}

.emailSignUp__emailForm__form {
    display: flex;
    gap: 2px;
}

.emailSignUp__emailForm__form input[type="email"] {
    padding: 17px 205px 17px 32px;
    background-color: var(--light-grey);
    border: none;
    font-size: 16px;
    font-family: "Satoshi-Regular", sans-serif;
    opacity: 0.4;
}

.emailSignUp__emailForm__form input[type="email"]:focus {
    outline-color: var(--dark-primary);
    outline-width: 1px;
}

.emailSignUp__emailForm__sendButton {
    padding: 16px 32px;
    background-color: var(--dark-primary);
    color: var(--white);
    font-family: "Satoshi-Regular", sans-serif;
    font-size: 16px;
    appearance: none;
    border: none;
}

.emailSignUp__emailForm__sendButton:hover {
    cursor: pointer;
}

/* End emailSignUp styles */

/* historyOfBrand styles */

.historyOfBrand .container {
    display: flex;
}

.historyOfBrand .container > div {
    width: 50%;
}

.historyOfBrand__leftContent {
    display: flex;
    flex-direction: column;
    padding: 72px 100px 54px 84px;
    gap: 196px;
}

.historyOfBrand__leftContent__topContent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}

.historyOfBrand__leftContent__topContent__title {
    font-size: 24px;
    line-height: 140%;
    color: #2A254B;
}

.historyOfBrand__leftContent__topContent__text p {
    font-size: 16px;
    line-height: normal;
    color: #505977;
}

.historyOfBrand__leftContent__button {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 16px 32px;
    background-color: var(--light-grey);
    line-height: 150%;
    flex: 0;
    align-self: flex-start;
    transition: all .3s linear;
}

.historyOfBrand__leftContent__button:hover {
    background-color: var(--dark-primary);
    color: var(--light-grey);
}

.historyOfBrand__rightContent img {
    width: 720px;
    height: 603px;
    flex-shrink: 0;
}

/* End historyOfBrand styles */

/* footer styles */

.footer {
    background-color: var(--dark-primary);
}

.footer .container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.footer__mainContent {
    padding: 60px 0;
    display: flex;
    align-items: flex-start;
    gap: 140px;
    position: relative;
}

.footer__mainContent::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: #4E4D93;
}

.footer__mainContent__item {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.footer__mainContent__item__title {
    font-size: 16px;
    line-height: normal;
    color: var(--white);
}

.footer__mainContent__list {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.footer__mainContent__list__item__link {
    font-size: 14px;
    color: var(--white);
    position: relative;
}

.footer__mainContent__list__item__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: var(--white);
    transform: scaleX(0);
    transition: transform .3s ease;
}

.footer__mainContent__list__item__link:hover::after {
    transform: scaleX(1);
}

.footer__mainContent__item form {
    display: flex;
    align-items: flex-start;
}


.footer__mainContent__item input {
    display: flex;
    padding: 16px 360px 17px 32px;
    align-items: center;
    flex: 1 0 0;
    align-self: stretch;
    color: var(--white);
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
    outline: none;
    transition: all .3s ease;
}

.footer__mainContent__item input:hover,
.footer__mainContent__item input:focus {
    background-color: rgba(255, 255, 255, 0.25);
    
}

.footer__mainContent__item button {
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    background-color: var(--white);
    color: #2A254B;
    font-family: "Satoshi-Regular", sans-serif;
    font-size: 16px;
    line-height: 150%;
    border: none;
    outline: none;
    transition: all .3s ease;
}

.footer__mainContent__item button:hover {
    cursor: pointer;
    color: var(--white);
    background-color: rgba(255, 255, 255, 0.25);
}

.footer__bottomContent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.footer__bottomContent__text p {
    font-size: 14px;
    line-height: normal;
}

.footer__bottomContent__socials {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

/* End footer styles */

/* Adaptive styles */

/* Adaptive for Orientation: portrait */

/* Adaptive for min-width: 320px. Orientation: portrait */

@media screen and (min-width: 320px) and (orientation: portrait) {

    /* General Styles */

    .container {
        max-width: 290px;
        margin: 0 auto;
    }

    /* End General Styles */

    /*  Header styles */

    .header {
        margin: 20px 15px;
    }

    .header__top {
        flex-direction: row-reverse;
        margin-bottom: 0;
    }

    .header__top::after {
        display: none;
    }

    .header__top__center {
        flex: 0;
    }

    .header__top__right {
        display: none;
    }

    .header__main {
        display: none;
    }

    /* End Header styles */

    /* Hero styles */

    .hero {
        background-color: var(--dark-primary);
    }

    .hero .container {
        flex-direction: column;
    }
    
    .hero__content {
        min-width: 100%;
        background: none;
        gap: 45px;
        padding: 40px 0;
    }

    .hero__content__top {
        margin-top: 0;
        margin-left: 0;
        max-width: 100%;
        flex: 0;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .hero__content__top__title {
        margin-bottom: 0;
        font-size: 24px;
    }

    .hero__content__top__button {
        max-width: 100%;
        text-align: center;
        font-size: 14px;
        padding: 12px 24px;
    }

    .hero__content__bottom {
        max-width: 100%;
        margin: 0;
    }

    .hero__content__bottom__text {
        font-size: 14px;
    }

    .hero__image__container img {
        display: none;
    }

    /* End Hero styles */

    /* Features styles */

    .features {
        padding: 40px 0;
    }

    .features .container {
        gap: 35px;
        justify-content: center;
        align-items: flex-start;
    }

    .features__title {
        text-align: left;
        font-size: 18px;
    }

    .features__content {
        flex-direction: column;
        gap: 36px;
    }

    .features__content__item {
        gap: 12px;
    }

    .features__content__item__title {
        font-size: 16px;
    }

    .features__content__item__text {
        font-size: 13px;
        max-width: 100%;
    }

    /* End Features styles */

    /* Listings styles */

    .listings {
        padding: 40px 0;
    }

    .listings .container {
        gap: 25px;
    }

    .listings__title {
        font-size: 18px;
    }

    .listings__products {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .listings__products__card img {
        width: 165px;
        height: 205px;
    }

    .listings__products__card__title {
        font-size: 18px;
    }

    .listings__products__card__price {
        font-size: 16px;
    }

    .listings__button {
        min-width: 60%;
        font-size: 14px;
    }

    /* End Listings styles */

    /* popularListings styles */
    /* Most of the styles for this section are described above (class LISTING) */

    .popularListings__products__card img.wide {
        width: 300px;
        height: 255px;
    }

    /* End popularListings styles */

    /* emailSignUp styles */

    .emailSignUp {
        padding: 40px 0;
        background-color: var(--white);
    }

    .emailSignUp .container {
        gap: 60px;
    }

    .emailSignUp__text__title {
        font-size: 18px;
    }

    .emailSignUp__text__subtitle {
        font-size: 14px;
        max-width: 100%;
        text-align: left;
    }

    .emailSignUp__emailForm {
        max-width: 100%;
    }

    .emailSignUp__emailForm__form {
        gap: 0;
    }

    .emailSignUp__emailForm__form input[type="email"] {
        padding: 14px 24px 14px 24px;
        font-size: 14px;
    }

    .emailSignUp__emailForm__sendButton {
        padding: 14px 24px;
        font-size: 14px;

    }

    /* End emailSignUp styles */

    /* historyOfBrand styles */

    .historyOfBrand {
        padding: 50px 0;
    }

    .historyOfBrand .container {
        flex-direction: column;
        gap: 35px;
    }

    .historyOfBrand .container > div {
        width: 100%;
    }

    .historyOfBrand__leftContent {
        padding: 0;
        gap: 55px;
        align-items: center;
    }

    .historyOfBrand__leftContent__topContent {
        gap: 15px;
    }

    .historyOfBrand__leftContent__topContent__title {
        font-size: 18px;
    }

    .historyOfBrand__leftContent__topContent__text p {
        font-size: 14px;
        line-height: 150%;
    }

    .historyOfBrand__leftContent__button {
        align-self: auto;
        align-items: center;
        min-width: 60%;
        text-align: center;
        justify-content: center;
        font-size: 14px;
    }

    .historyOfBrand__rightContent {
        display: none;
    }

    .historyOfBrand__rightContent img {
        width: 100%;
        height: 350px;
        position: absolute;
        left: 0;
    }

    /* End historyOfBrand styles */

    /* footer styles */

    .footer .container {
        gap: 20px;
    }

    .footer__mainContent {
        padding: 40px 0;
        flex-wrap: wrap;
        gap: 75px;
        justify-content: center;
    }

    .footer__mainContent__item__title {
        font-size: 14px;
    }

    .footer__mainContent__list__item__link {
        font-size: 12px;
    }

    .footer__mainContent__item form {
        max-width: 100%;
    }

    .footer__mainContent__item input {
        padding: 12px 12px 12px 24px;
        font-size: 12px;
    }

    .footer__mainContent__item button  {
        font-size: 12px;
        padding: 12px 24px;
    }

    .footer__bottomContent {
        justify-content: center;
        align-items: center;
    }

    .footer__bottomContent__socials {
        display: none;
    }

    /* End footer styles */
}

/* Adaptive for min-width: 375px (iPhone 6,7,8). Orientation: portrait */

@media screen and (min-width: 375px) and (orientation: portrait) {
    
    /* General Styles */

    .container {
        max-width: 335px;
    }

    /* End General Styles */

    /* Header Styles */

    .header {
        margin: 20px 20px;
    }

    /* End Header Styles */
}

/* Adaptive for min-width: 390px (iphone 6,7,8 plus). Orientation: portrait */

@media screen and (min-width: 390px) and (orientation: portrait) {

    /* General Styles */

    .container {
        max-width: 350px;
    }

    /* End General Styles */
    
    /* Herro Styles */

    .hero__content {
        gap: 65px;
    }

    .hero__content__top {
        gap: 55px;
    }

    .hero__content__top__title {
        font-size: 32px;
    }

    .hero__content__top__button {
        padding: 16px 32px;
        font-size: 16px;
    }

    .hero__content__bottom__text {
        font-size: 18px;
    }

    /* End Herro Styles */

    /* Feature Styles */

    .features {
        padding: 50px 0;
    }

    .features__title {
        font-size: 20px;
    }

    .features__content__item__text {
        font-size: 14px;
    }

    /* End Feature Styles */

    /* Listings Styles */

    .listings {
        padding: 50px 0;
    }

    .listings .container {
        gap: 30px;
    }

    .listings__title {
        font-size: 20px;
    }

    .listings__products {
        gap: 15px;
    }

    .listings__products__card img {
        width: 160px;
        height: 200px;
    }

    .listings__products__card__title {
        font-size: 20px;
    }

    .listings__products__card__price {
        font-size: 18px;
    }

    .listings__button {
        font-size: 16px;
        min-width: 65%;
    }

    /* End Listings Styles */

    /* emailSignUp Styles */

    .emailSignUp {
        padding: 50px 0;
    }

    .emailSignUp .container {
        gap: 65px;
    }

    .emailSignUp__text__title {
        font-size: 20px;
    }

    .emailSignUp__emailForm__form input[type="email"] {
        font-size: 16px;
        padding: 16px 24px;
    }

    .emailSignUp__emailForm__sendButton {
        font-size: 16px;
        padding: 16px 32px;
    }

    /* End emailSignUp Styles */

    /* historyOfBrand Styles  */

    .historyOfBrand {
        padding: 50px 0;
    }

    .historyOfBrand .container {
        gap: 40px;
    }

    .historyOfBrand__leftContent__topContent__title {
        font-size: 20px;
    }

    .historyOfBrand__leftContent__button {
        min-width: 65%;
        font-size: 16px;
    }

    /* End historyOfBrand Styles  */

    /* Footer Styles */

    .footer__mainContent__item__title {
        font-size: 16px;
    }

    .footer__mainContent__list__item__link {
        font-size: 14px;
    }

    .footer__mainContent__item input {
        padding: 15px 0 14px 24px;
        font-size: 16px;
    }

    .footer__mainContent__item button {
        padding: 15px 28px;
        font-size: 16px;
    }

    /* End Footer Styles */
}

/* Adaptive for min-width: 768px (iPad Mini). Orientation: portrait */

@media screen and (min-width: 768px) and (orientation: portrait) {

    /* General Style */
    
    .container {
        max-width: 700px;
    }
    
    /* End General Style */

    /* Header Styles */
    
    .header {
        margin: 25px 30px;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    .header__top {
        flex-direction: row;
    }

    .header__top__left img {
        width: 20px;
    }

    .header__top__right {
        display: flex;
        gap: 20px;
    }

    .header__top__right img {
        width: 20px;
    }

    .header__main {
        display: block;
        margin-bottom: 0;
    }

    .header__navigation__list {
        gap: 50px;
    }

    .header__navigation__list__item__link {
        font-size: 14px;
    }

    /* End Header Styles */

    /* Hero Styles */

    .hero__content {
        gap: 60px;
        padding: 55px 0;
    }

    .hero__content__top__title {
        font-size: 40px;
    }

    .hero__content__top__button {
        align-self: center;
        min-width: 60%;
    }

    /* End Hero Styles */
}

/* Adaptive for Orientation: landscape */

/* Adaptive for min-width: 667px (iphone SE, iphone 6/7/8). Orientation: landscape */

@media screen and (min-width: 667px) and (max-height: 450px) and (orientation: landscape) {

    .container {
        max-width: 600px;
    }

    /* Header Styles */

    .header {
        margin: 35px 30px 25px;
    }

    .header__navigation__list {
        gap: 30px;
    }

    .header__navigation__list__item__link {
        font-size: 14px;
    }

    /* End Header Styles */

    /* Hero styles */

    .hero .container {
        margin: 30px auto;
    }

    .hero__content {
        align-items: center;
        gap: 50px;
        min-width: 100%;
    }

    .hero__content__top {
        margin-top: 25px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .hero__content__top__title {
        text-align: center;
        margin-bottom: 0;
        line-height: 125%;
    }

    .hero__content__bottom {
        margin-bottom: 40px;
        margin-left: 0;
        max-width: 515px;
    }

    .hero__content__bottom__text {
        font-size: 16px;
    }

    .hero__image__container {
        display: none;
    }

    /* End Hero styles */

    /* Features Styles */

    .features {
        padding-top: 0;
    }

    .features .container {
        margin: 45px auto;
        gap: 35px;
    }

    .features__content {
        flex-wrap: wrap;
        justify-content: center;
        gap: 35px;
    }

    .features__content__item__title {
        font-size: 18px;
        line-height: 120%;
    }

    /* End Features Styles */

    /* Listings Styles */

    .listings {
        padding: 0;
    }

    .listings .container {
        margin: 50px auto;
    }

    .listings__title {
        font-size: 20px;
    }

    .listings__products {
        max-width: 100%;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 30px;
    }

    .listings__products__card {
        gap: 20px;
    }

    .listings__products__card img {
        width: 180px;
        height: 190px;
        border-radius: 2px;
    }

    .listings__products__card__text {
        gap: 5px;
    }

    .listings__products__card__title {
        font-size: 16px;
    }

    .listings__products__card__price {
        font-size: 14px;
    }

    .listings__button {
        min-width: 60%;
    }

    /* End Listings Styles */

    /* PopularListings Styles */

    .popularListings__products__card img.wide {
        width: 180px;
        height: 190px;
    }

    /* End PopularListings Styles */

    /* EmailSignUp Styles */

    .emailSignUp {
        background-color: var(--white);
    }

    .emailSignUp .container {
        margin: 20px auto;
    }

    /* End EmailSignUp Styles */

    /* HistoryOfBrand Styles */
    
    .historyOfBrand .container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .historyOfBrand .container > div {
        width: 85%;
    }

    .historyOfBrand__leftContent {
        padding: 0;
        gap: 35px;
    }

    .historyOfBrand__leftContent__topContent {
        gap: 20px;
    }

    .historyOfBrand__leftContent__topContent__title {
        font-size: 20px;
    }

    .historyOfBrand__leftContent__topContent__text p {
        font-size: 14px;
    }

    .historyOfBrand__leftContent__button {
        align-self: center;
        font-size: 14px;
        min-width: 60%;
        justify-content: center;
    }

    .historyOfBrand__rightContent {
        display: none;
    }

    .historyOfBrand__rightContent img {
        max-width: 100%;
        width: auto;
        height: auto;
    }

    /* End HistoryOfBrand Styles */

    /* Footer Styles */

    .footer__mainContent {
        flex-wrap: wrap;
        justify-content: center;
        gap: 100px;
        row-gap: 40px;
    }

    .footer__mainContent__item input {
        padding: 16px 180px 17px 32px;
    }

    /* End Footer Styles */
}

/* Adaptive for min-width: 736px (iphone 6/7/8 Plus). Orientation: landscape */

@media  screen and (min-width: 736px) and (max-height: 450px) and (orientation: landscape) {
    
    .container {
        max-width: 680px;
    }

    .hero__content__top {
        margin-top: 30px;
    }

    .features__content {
        gap: 45px;
    }

    .listings__products {
        gap: 60px;
    }

    .emailSignUp__emailForm__form input[type="email"] {
        padding: 17px 190px 17px 32px;
    }

    .emailSignUp__emailForm__sendButton {
        padding: 16px 55px;
    }

    .footer__mainContent {
        gap: 135px;
        row-gap: 40px;
    }

    .footer__mainContent__item input {
        padding: 16px 220px 17px 32px;;
    }

    .footer__mainContent__item button {
        padding: 16px 40px;
    }
}

/* Adaptive for min-width: 812px (Iphone X). Orientation: landscape */

@media  screen and (min-width: 812px) and (max-height: 450px) and (orientation: landscape) {
    
    .container {
        max-width: 765px;
    }

    .header__navigation__list {
        gap: 50px;
    }

    .features__content {
        gap: 50px;
    }

    .listings__products {
        gap: 80px;
        row-gap: 45px;
    }

    .listings__button {
        min-width: 65%;
    }

    .emailSignUp__emailForm__form input[type="email"] {
        padding: 17px 205px 17px 32px;
    }

    .emailSignUp__emailForm__sendButton {
        padding: 16px 70px  ;
    }

    .historyOfBrand__leftContent__button {
        min-width: 65%;
    }
}


/* Adaptive for min-width: 844px (Iphone 12 Pro). Orientation: landscape */

@media  screen and (min-width: 844px) and (max-height: 450px) and (orientation: landscape) {
    
    .container {
        max-width: 785px;
    }

    .hero__content__top {
        margin-top: 40px;
    }

    .listings__products {
        gap: 95px;
        row-gap: 50px;
    }
}

/* Adaptive for min-width: 896px (Iphone XR). Orientation: landscape */

@media  screen and (min-width: 896px) and (max-height: 450px) and (orientation: landscape) {

    .container {
        max-width: 850px;
    }

    .header__navigation__list {
        gap: 70px;
    }

    .hero__content__top {
        margin-top: 55px;
    }

    .hero__content__bottom__text {
        line-height: 200%;
    }

    .listings__products {
        gap: 120px;
        row-gap: 60px;
    }

    .footer__mainContent {
        gap: 160px;
        row-gap: 50px;
    }
}

/* End Adaptive styles */